body, html {
    color: white;
    font-family: 'Lato', sans-serif;
}


.hero-image {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: linear-gradient(to bottom,rgba(48, 48, 48, 0) 65%, rgba(34, 34, 34, 1) 98%), url(./assets/titlecard.png);
  background-position: center center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-color: #303030;
}

.heroGrad {
  background-image: linear-gradient(45deg, #f3ec78, #af4261);
  background-size: 100%;
  position: absolute;
}
.progress-bar{
  width: 0%;
}


table.prosCons {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  .prosCons td {
    margin: 10px 20px 10px 20px;
    vertical-align: top;
  }
  .prosCons th{
    margin: 20px 20px 0 20px;
    vertical-align: middle;
  }
  
h1.mainHeader {
  margin: 40pt 0 20pt 0;
}
.interviewTbl {
    width: 100%;
    border-collapse: collapse;
  
  }
  .interviewTbl td {
    vertical-align: top;
    padding: 10px;
  }

/* width */        
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.interviewScroll {
  overflow-y:scroll; 
  height: 80vh; 
  margin: 0 10% 0 10%; 
  margin-bottom: 2cm; 
  display:block;
  padding: 10px;
}

.cardFlexbox {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
  }
  .cardFlexItem {
    width: 100%;
  }
  .cardFlexTextBox {
    overflow: hidden;
    line-height: 1.6em;
  }
  .gradient {
    background-image: linear-gradient(rgba(255,0,0,0), rgba(255,0,0,0),  #303030);
    position: absolute;
    width: calc(100% - 22em);
    height: 4.8em;
  }

#grad1 {visibility: visible;}
#grad2 {visibility: visible;}
#grad3 {visibility: visible;}

#more1 {
  height: 4.8em;
  }
#more2 {
  height: 4.8em;
}
#more3 {
  height: 4.8em;
}
.readMeBtn {
  margin: .75em .5em .5em 0;
}

.cardImgContainer{
  width: 20em !important;
  height: auto;
  background-position: center center;
  background-size: contain;
  background-origin: content-box;
  background-repeat: no-repeat;
  background-color: white;
}
  .cardImgContainer:hover{
    filter: brightness(70%)
  }
#cIC1{ background-image: url(./assets/Figure_1b.png); }
#cIC2{ background-image: url(./assets/Figure_2.png); }
#cIC3{ background-image: url(./assets/Figure_3.png); }


.refListGroup {
  width: 80%;
  margin: 5vh auto 0 auto;
}

#vennContainer {
  margin: 20pt;
  text-align: center;
}
#vennContainer > img{
  max-width: 30em;
  width: 100%;
  height: auto;
}
#GDMapContainer {
  margin: 20pt;
  text-align: center;
}
#GDMapContainer > img {
  max-width: 75em;
  width: 100%;
  height: auto;
}