body, html {
    color: white;
    font-family: 'Lato', sans-serif;
}
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero-image {
  height: fit-content;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-image > img {
  width: 100%;
  filter: brightness(50%);
}
.progress-bar{
  width: 0%;
}


table.prosCons {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  .prosCons td {
    margin: 10px 20px 10px 20px;
    vertical-align: top;
  }
  .prosCons th{
    margin: 20px 20px 0 20px;
    vertical-align: middle;
  }
  
h1.mainHeader {
  margin: 40pt 0 20pt 0;
}
.interviewTbl {
    width: 100%;
    border-collapse: collapse;
  
  }
  .interviewTbl td {
    vertical-align: top;
    padding: 10px;
  }

/* width */        
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.interviewScroll {
  overflow-y:scroll; 
  height: 80vh; 
  margin: 0 10% 0 10%; 
  margin-bottom: 2cm; 
  display:block;
  padding: 10px;
}

.cardFlexbox {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
  }
  .cardFlexItem {
    width: 100%;
  }
  .cardFlexTextBox {
    overflow: hidden;
    line-height: 1.6em;
  }

#more1 {height: 4.8em;}
#more2 {height: 4.8em;}
#more3 {height: 4.8em;}
.readMeBtn {
  margin: .75em .5em .5em 0;
}

.cardImgContainer{
  width: 30%;
  height: auto;
  background-image: url(./test.jpg);
  background-position: center center;
  background-size: cover;
  background-origin: content-box;
}


.refListGroup {
  width: 80%;
  margin: 5vh auto 0 auto;
}